name: build

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths:
      - "src/**"
      - "examples/**"
      - "build.rs"
      - "Cargo.toml"
  pull_request:
    paths:
      - "src/**"
      - "examples/**"
      - "build.rs"
      - "Cargo.toml"

jobs:
  compile:
    runs-on: ubuntu-24.04
    env:
      RUST_BACKTRACE: 1
    steps:
      - run: >
          sudo apt update && sudo apt install -y
          libx11-dev
          libasound2-dev
          libudev-dev
          libxkbcommon-x11-0
          libwayland-dev
          libxkbcommon-dev
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo build --features "ansi-term bevy css-colors ratatui serde" --verbose
      - run: cargo test --features "ansi-term bevy css-colors ratatui serde" --verbose

  rustfmt:
    name: rustfmt
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt
      - run: cargo fmt --all --check
